md-grid-tile{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.subtittle{
    background-color:rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    width: 100%;
}
.subtittle-text{
    text-align: center;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    padding: 4%;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}