<div class="row">
    <div class="col-md-4">
        <md-card>
           <md-card-header>
              <img md-card-avatar src="path/to/img.png">
              <md-card-title>{{person.name | async}}</md-card-title>
              <md-card-subtitle>{{person.birthday}} - {{person.deathday}}</md-card-subtitle>
           </md-card-header>
           <img md-card-image src="path/to/img.png">
           <md-card-content>
              <p>Here is some more content</p>
           </md-card-content>
        </md-card>
    </div>
    <div class="col-md-8">
        <h1>nombre</h1>
        <p>biografia</p>
    </div>
</div>
