<div class="component" *ngIf="movies">
    <h1>{{title}}</h1>
    <md-grid-list cols="4"  [style.backgrounde]="'lightblue'">
        <md-grid-tile [style.background-image]="'url('+tmdbHelper.getUrlSrc(movie.poster_path)+')'" (click)="goMovie(movie.id);" *ngFor="let movie of movies">
           <span class="subtittle">
               <p class="subtittle-text">
                   <b>{{movie.original_title}}</b>
               </p>
           </span>
        </md-grid-tile>
    </md-grid-list>
</div>